{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false
  },
  "settings": {
    "import/external-module-folders": ["node_modules", "client/node_modules"]
  },
  "rules": {
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
