{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false
  },
  "settings": {
    "import/external-module-folders": ["node_modules", "client/node_modules"]
  }
}
