.Login-container {
  max-width: 800px;
  max-height: 600px;
  background: #ffffff;
  z-index: 9999;
}

.Login-main {
  margin: 50px;
  font-size: 16px;
}

.Login-footer {
  background-color: #f6f8f8;
  padding: 35px 82px;
}

@media (max-width: 576px) {
  .Login-main {
    margin: 0;
  }
  .Login-welcome {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    background-color: #0d47a1;
  }
  .Login-welcome a {
    color: #fff;
    text-decoration: underline;
  }
  .Login-form {
    margin-top: 15px;
  }
}
