<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Todo List</title>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
       <link href="css/style.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <section >
         <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="panel panel-default">
			  <div class="panel-body">
              <a class="btn btn-info btn-sm pull-right" href="#">Voltar</a>   
                  <br/>   
			    <h3 class="text-center">Alterar Senha</h3>
			    <br />
			    <form>
             
                  <h5> Digite sua senha atual:</h5>
                    <div class="input-group input-group-lg">
					  <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
					  <input type="password" name="password" id="password" class="form-control" placeholder="Senha atual" aria-describedby="sizing-addon1" required>
					</div>
					<br>
                    <h5> Digite nova sua senha:</h5>
                    <div class="input-group input-group-lg">
					  <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
					  <input type="password" name="password" id="password" class="form-control" placeholder="Nova senha" aria-describedby="sizing-addon1" required>
					</div>
                    <h5> Digite novamente sua nova senha:</h5>
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
					  <input type="password" name="password" id="password" class="form-control" placeholder="Nova senha" aria-describedby="sizing-addon1" required>
					</div>
					
                    

			    </form>
			  </div>
			</div>
            </div>
         </div>
      </section>

   </body>
</html>