<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Todo List</title>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
       <link href="css/style.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <section >
         <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="panel panel-default">
			  <div class="panel-body">
              <a class="btn btn-info btn-sm pull-right" href="#">Voltar</a>   
                  <br/>   
			    <h3 class="text-center">ToDo UFG</h3>
			    <br />
			    <form>
                <br>
					 <button type="submit" class="btn btn-fse btn-block">Log</button>
					<br>
					 <button type="submit" class="btn btn-info btn-block">Sobre</button>
                     <br>
					 <button type="submit" class="btn btn-warning btn-block">Alterar Senha</button>
                     <br>
					 <button type="submit" class="btn btn-danger btn-block">Excluir Usuario</button>
                     <br>
					 <button type="submit" class="btn btn-success btn-block">Sair</button>

			    </form>
			  </div>
			</div>
            </div>
         </div>
      </section>

   </body>
</html>